In [1]:
import pandas as pd


movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
tags_df = pd.read_csv('tags.csv')
links_df = pd.read_csv('links.csv')

In [2]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
movies_df.groupby('title').describe()

                                          movieId                          \
                                            count      mean std       min
title
'71 (2014)                                    1.0  117867.0 NaN  117867.0
'Hellboy': The Seeds of Creation (2004)       1.0   97757.0 NaN   97757.0
'Round Midnight (1986)                        1.0   26564.0 NaN   26564.0
'Salem's Lot (2004)                           1.0   27751.0 NaN   27751.0
'Til There Was You (1997)                     1.0     779.0 NaN     779.0
...                                           ...       ...  ..       ...
eXistenZ (1999)                               1.0    2600.0 NaN    2600.0
xXx (2002)                                    1.0    5507.0 NaN    5507.0
xXx: State of the Union (2005)                1.0   33158.0 NaN   33158.0
¡Three Amigos! (1986)                         1.0    2478.0 NaN    2478.0
À nous la liberté (Freedom for Us) (1931)     1.0    5560.0 NaN    5560.0

                                                                         \
                                                25%       50%       75%
title
'71 (2014)                                 117867.0  117867.0  117867.0
'Hellboy': The Seeds of Creation (2004)     97757.0   97757.0   97757.0
'Round Midnight (1986)                      26564.0   26564.0   26564.0
'Salem's Lot (2004)                         27751.0   27751.0   27751.0
'Til There Was You (1997)                     779.0     779.0     779.0
...                                             ...       ...       ...
eXistenZ (1999)                              2600.0    2600.0    2600.0
xXx (2002)                                   5507.0    5507.0    5507.0
xXx: State of the Union (2005)              33158.0   33158.0   33158.0
¡Three Amigos! (1986)                        2478.0    2478.0    2478.0
À nous la liberté (Freedom for Us) (1931)    5560.0    5560.0    5560.0


                                                max
title
'71 (2014)                                 117867.0
'Hellboy': The Seeds of Creation (2004)     97757.0
'Round Midnight (1986)                      26564.0
'Salem's Lot (2004)                         27751.0
'Til There Was You (1997)                     779.0
...                                             ...
eXistenZ (1999)                              2600.0
xXx (2002)                                   5507.0
xXx: State of the Union (2005)              33158.0
¡Three Amigos! (1986)                        2478.0
À nous la liberté (Freedom for Us) (1931)    5560.0

[9737 rows x 8 columns]

In [4]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [5]:
merged_df = pd.merge(ratings_df, movies_df, on='movieId')

In [6]:
final_table = merged_df[['userId', 'title', 'rating', 'genres', 'timestamp']]

In [7]:
print(final_table)

        userId                             title  rating  \
0            1                  Toy Story (1995)     4.0
1            5                  Toy Story (1995)     4.0
2            7                  Toy Story (1995)     4.5
3           15                  Toy Story (1995)     2.5
4           17                  Toy Story (1995)     4.5
...        ...                               ...     ...
100831     610                  Bloodmoon (1997)     2.5
100832     610  Sympathy for the Underdog (1971)     4.5
100833     610                     Hazard (2005)     3.0
100834     610                Blair Witch (2016)     3.5
100835     610                         31 (2016)     3.5

                                             genres   timestamp
0       Adventure|Animation|Children|Comedy|Fantasy   964982703
1       Adventure|Animation|Children|Comedy|Fantasy   847434962
2       Adventure|Animation|Children|Comedy|Fantasy  1106635946
3       Adventure|Animation|Children|Comedy|Fantasy  1510577970
4       Adventure|Animation|Children|Comedy|Fantasy  1305696483
...                                             ...         ...
100831                              Action|Thriller  1479545749
100832                           Action|Crime|Drama  1479544998
100833                        Action|Drama|Thriller  1493844794
100834                              Horror|Thriller  1493848789
100835                                       Horror  1493850155

[100836 rows x 5 columns]

In [8]:
titanic_info = final_table[final_table['title'] == "Titanic (1997)"]

print(titanic_info)

       userId           title  rating         genres   timestamp
43907      11  Titanic (1997)     5.0  Drama|Romance   902154989
43908      12  Titanic (1997)     5.0  Drama|Romance  1247264463
43909      13  Titanic (1997)     4.0  Drama|Romance   987456818
43910      18  Titanic (1997)     4.0  Drama|Romance  1455748443
43911      21  Titanic (1997)     3.5  Drama|Romance  1418846922
...       ...             ...     ...            ...         ...
44042     601  Titanic (1997)     4.0  Drama|Romance  1521398191
44043     603  Titanic (1997)     3.0  Drama|Romance   954482414
44044     606  Titanic (1997)     4.0  Drama|Romance  1171325893
44045     608  Titanic (1997)     2.0  Drama|Romance  1117408294
44046     610  Titanic (1997)     3.0  Drama|Romance  1479544112

[140 rows x 5 columns]

In [9]:
print(final_table.columns)

Index(['userId', 'title', 'rating', 'genres', 'timestamp'], dtype='object')

In [10]:
final_table['genres'].value_counts()

genres
Comedy                                                      7196
Drama                                                       6291
Comedy|Romance                                              3967
Comedy|Drama|Romance                                        3000
Comedy|Drama                                                2851
                                                            ...
Action|Adventure|Animation|Comedy|Fantasy|Mystery|Sci-Fi       1
Children|Fantasy|Musical|Romance                               1
Comedy|Crime|Drama|Horror                                      1
Comedy|Sci-Fi|War                                              1
Action|Crime|Drama|Sci-Fi                                      1
Name: count, Length: 951, dtype: int64

In [11]:
final_table['title'].value_counts()

title
Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Matrix, The (1999)                  278
                                   ...
Sex, Drugs & Taxation (2013)          1
Extraordinary Tales (2015)            1
Tomorrow (2015)                       1
Embrace of the Serpent (2016)         1
31 (2016)                             1
Name: count, Length: 9719, dtype: int64

In [12]:
df4 = final_table.groupby('title')['rating'].describe()['mean']
df4

title
'71 (2014)                                   4.000000
'Hellboy': The Seeds of Creation (2004)      4.000000
'Round Midnight (1986)                       3.500000
'Salem's Lot (2004)                          5.000000
'Til There Was You (1997)                    4.000000
                                               ...
eXistenZ (1999)                              3.863636
xXx (2002)                                   2.770833
xXx: State of the Union (2005)               2.000000
¡Three Amigos! (1986)                        3.134615
À nous la liberté (Freedom for Us) (1931)    1.000000
Name: mean, Length: 9719, dtype: float64

In [13]:
movie_counts = final_table['title'].value_counts()
final_table_with_counts = final_table.merge(movie_counts, left_on='title', right_index=True, how='left')
final_table_with_counts.rename(columns={'title_y': 'movie_count'}, inplace=True)
print(final_table_with_counts)

        userId                             title  rating  \
0            1                  Toy Story (1995)     4.0
1            5                  Toy Story (1995)     4.0
2            7                  Toy Story (1995)     4.5
3           15                  Toy Story (1995)     2.5
4           17                  Toy Story (1995)     4.5
...        ...                               ...     ...
100831     610                  Bloodmoon (1997)     2.5
100832     610  Sympathy for the Underdog (1971)     4.5
100833     610                     Hazard (2005)     3.0
100834     610                Blair Witch (2016)     3.5
100835     610                         31 (2016)     3.5

                                             genres   timestamp  count
0       Adventure|Animation|Children|Comedy|Fantasy   964982703    215
1       Adventure|Animation|Children|Comedy|Fantasy   847434962    215
2       Adventure|Animation|Children|Comedy|Fantasy  1106635946    215
3       Adventure|Animation|Children|Comedy|Fantasy  1510577970    215
4       Adventure|Animation|Children|Comedy|Fantasy  1305696483    215
...                                             ...         ...    ...
100831                              Action|Thriller  1479545749      1
100832                           Action|Crime|Drama  1479544998      1
100833                        Action|Drama|Thriller  1493844794      1
100834                              Horror|Thriller  1493848789      1
100835                                       Horror  1493850155      1

[100836 rows x 6 columns]

In [14]:
result = final_table.groupby('title')['rating'].agg(['count', 'mean']).reset_index()
result.columns = ['title', 'count', 'mean']

print(result)

                                          title  count      mean
0                                    '71 (2014)      1  4.000000
1       'Hellboy': The Seeds of Creation (2004)      1  4.000000
2                        'Round Midnight (1986)      2  3.500000
3                           'Salem's Lot (2004)      1  5.000000
4                     'Til There Was You (1997)      2  4.000000
...                                         ...    ...       ...
9714                            eXistenZ (1999)     22  3.863636
9715                                 xXx (2002)     24  2.770833
9716             xXx: State of the Union (2005)      5  2.000000
9717                      ¡Three Amigos! (1986)     26  3.134615
9718  À nous la liberté (Freedom for Us) (1931)      1  1.000000

[9719 rows x 3 columns]

In [15]:
result.head()

                                     title  count  mean
0                               '71 (2014)      1   4.0
1  'Hellboy': The Seeds of Creation (2004)      1   4.0
2                   'Round Midnight (1986)      2   3.5
3                      'Salem's Lot (2004)      1   5.0
4                'Til There Was You (1997)      2   4.0

In [16]:
x = result[result['title'] == "Titanic (1997)"]

print(x)

               title  count      mean
8779  Titanic (1997)    140  3.414286

In [17]:
df5 = final_table.groupby('genres')['rating'].describe()['mean']
df5

genres
(no genres listed)                     3.489362
Action                                 2.935484
Action|Adventure                       3.706306
Action|Adventure|Animation             3.583333
Action|Adventure|Animation|Children    3.410256
                                         ...
Sci-Fi|Thriller                        3.280172
Sci-Fi|Thriller|IMAX                   3.708333
Thriller                               3.426752
War                                    3.555556
Western                                3.658940
Name: mean, Length: 951, dtype: float64

In [18]:
df4.loc["Hazard (2005)"]

3.0

In [19]:
ratings_df['userId'].value_counts()

userId
414    2698
599    2478
474    2108
448    1864
274    1346
       ...
442      20
569      20
320      20
576      20
53       20
Name: count, Length: 610, dtype: int64

In [20]:
ratings_df['movieId'].value_counts()

movieId
356       329
318       317
296       307
593       279
2571      278
         ...
86279       1
86922       1
5962        1
87660       1
163981      1
Name: count, Length: 9724, dtype: int64

In [21]:
result = final_table.groupby(['title', 'genres'])['rating'].agg(['count', 'mean']).reset_index()

print(result)

                                          title  \
0                                    '71 (2014)
1       'Hellboy': The Seeds of Creation (2004)
2                        'Round Midnight (1986)
3                           'Salem's Lot (2004)
4                     'Til There Was You (1997)
...                                         ...
9719                            eXistenZ (1999)
9720                                 xXx (2002)
9721             xXx: State of the Union (2005)
9722                      ¡Three Amigos! (1986)
9723  À nous la liberté (Freedom for Us) (1931)

                                           genres  count      mean
0                       Action|Drama|Thriller|War      1  4.000000
1     Action|Adventure|Comedy|Documentary|Fantasy      1  4.000000
2                                   Drama|Musical      2  3.500000
3                   Drama|Horror|Mystery|Thriller      1  5.000000
4                                   Drama|Romance      2  4.000000
...                                           ...    ...       ...
9719                       Action|Sci-Fi|Thriller     22  3.863636
9720                        Action|Crime|Thriller     24  2.770833
9721                        Action|Crime|Thriller      5  2.000000
9722                               Comedy|Western     26  3.134615
9723                               Comedy|Musical      1  1.000000

[9724 rows x 4 columns]

In [22]:
x = result[result['title'] == "Titanic (1997)"]

print(x)

               title         genres  count      mean
8783  Titanic (1997)  Drama|Romance    140  3.414286

In [23]:
import pandas as pd
def create_user_item_matrix(data):
    user_item_matrix = data.pivot_table(index='userId', columns='title', values='rating')
    return user_item_matrix.fillna(0)  
user_item_matrix = create_user_item_matrix(final_table)
print("User-Item Matrix:")
print(user_item_matrix.head())

User-Item Matrix:
title   '71 (2014)  'Hellboy': The Seeds of Creation (2004)  \
userId
1              0.0                                      0.0
2              0.0                                      0.0
3              0.0                                      0.0
4              0.0                                      0.0
5              0.0                                      0.0

title   'Round Midnight (1986)  'Salem's Lot (2004)  \
userId
1                          0.0                  0.0
2                          0.0                  0.0
3                          0.0                  0.0
4                          0.0                  0.0
5                          0.0                  0.0

title   'Til There Was You (1997)  'Tis the Season for Love (2015)  \
userId
1                             0.0                              0.0
2                             0.0                              0.0
3                             0.0                              0.0
4                             0.0                              0.0
5                             0.0                              0.0

title   'burbs, The (1989)  'night Mother (1986)  (500) Days of Summer (2009)  \
userId
1                      0.0                   0.0                          0.0
2                      0.0                   0.0                          0.0
3                      0.0                   0.0                          0.0
4                      0.0                   0.0                          0.0
5                      0.0                   0.0                          0.0

title   *batteries not included (1987)  ...  Zulu (2013)  [REC] (2007)  \
userId                                  ...
1                                  0.0  ...          0.0           0.0
2                                  0.0  ...          0.0           0.0
3                                  0.0  ...          0.0           0.0
4                                  0.0  ...          0.0           0.0
5                                  0.0  ...          0.0           0.0

title   [REC]² (2009)  [REC]³ 3 Génesis (2012)  \
userId
1                 0.0                      0.0
2                 0.0                      0.0
3                 0.0                      0.0
4                 0.0                      0.0
5                 0.0                      0.0

title   anohana: The Flower We Saw That Day - The Movie (2013)  \
userId
1                                                     0.0
2                                                     0.0
3                                                     0.0
4                                                     0.0
5                                                     0.0

title   eXistenZ (1999)  xXx (2002)  xXx: State of the Union (2005)  \
userId
1                   0.0         0.0                             0.0
2                   0.0         0.0                             0.0
3                   0.0         0.0                             0.0
4                   0.0         0.0                             0.0
5                   0.0         0.0                             0.0

title   ¡Three Amigos! (1986)  À nous la liberté (Freedom for Us) (1931)
userId
1                         4.0                                        0.0
2                         0.0                                        0.0
3                         0.0                                        0.0
4                         0.0                                        0.0
5                         0.0                                        0.0

[5 rows x 9719 columns]

In [24]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
item_user_matrix = user_item_matrix.T
item_similarity = cosine_similarity(item_user_matrix, dense_output=False)
np.fill_diagonal(item_similarity, 0)
item_similarity_df = pd.DataFrame(item_similarity, index=user_item_matrix.columns, columns=user_item_matrix.columns)
print(item_similarity_df)

title                                      '71 (2014)  \
title
'71 (2014)                                   0.000000
'Hellboy': The Seeds of Creation (2004)      0.000000
'Round Midnight (1986)                       0.000000
'Salem's Lot (2004)                          0.000000
'Til There Was You (1997)                    0.000000
...                                               ...
eXistenZ (1999)                              0.000000
xXx (2002)                                   0.139431
xXx: State of the Union (2005)               0.327327
¡Three Amigos! (1986)                        0.000000
À nous la liberté (Freedom for Us) (1931)    0.000000

title                                      'Hellboy': The Seeds of Creation (2004)  \
title
'71 (2014)                                                                0.000000
'Hellboy': The Seeds of Creation (2004)                                   0.000000
'Round Midnight (1986)                                                    0.707107
'Salem's Lot (2004)                                                       0.000000
'Til There Was You (1997)                                                 0.000000
...                                                                            ...
eXistenZ (1999)                                                           0.000000
xXx (2002)                                                                0.000000
xXx: State of the Union (2005)                                            0.000000
¡Three Amigos! (1986)                                                     0.000000
À nous la liberté (Freedom for Us) (1931)                                 0.000000

title                                      'Round Midnight (1986)  \
title
'71 (2014)                                               0.000000
'Hellboy': The Seeds of Creation (2004)                  0.707107
'Round Midnight (1986)                                   0.000000
'Salem's Lot (2004)                                      0.000000
'Til There Was You (1997)                                0.000000
...                                                           ...
eXistenZ (1999)                                          0.000000
xXx (2002)                                               0.000000
xXx: State of the Union (2005)                           0.000000
¡Three Amigos! (1986)                                    0.000000
À nous la liberté (Freedom for Us) (1931)                0.000000

title                                      'Salem's Lot (2004)  \
title
'71 (2014)                                            0.000000
'Hellboy': The Seeds of Creation (2004)               0.000000
'Round Midnight (1986)                                0.000000
'Salem's Lot (2004)                                   0.000000
'Til There Was You (1997)                             0.857493
...                                                        ...
eXistenZ (1999)                                       0.000000
xXx (2002)                                            0.000000
xXx: State of the Union (2005)                        0.000000
¡Three Amigos! (1986)                                 0.000000
À nous la liberté (Freedom for Us) (1931)             0.000000

title                                      'Til There Was You (1997)  \
title
'71 (2014)                                                  0.000000
'Hellboy': The Seeds of Creation (2004)                     0.000000
'Round Midnight (1986)                                      0.000000
'Salem's Lot (2004)                                         0.857493
'Til There Was You (1997)                                   0.000000
...                                                              ...
eXistenZ (1999)                                             0.000000
xXx (2002)                                                  0.000000
xXx: State of the Union (2005)                              0.000000
¡Three Amigos! (1986)                                       0.000000
À nous la liberté (Freedom for Us) (1931)                   0.000000

title                                      'Tis the Season for Love (2015)  \
title
'71 (2014)                                                             0.0
'Hellboy': The Seeds of Creation (2004)                                0.0
'Round Midnight (1986)                                                 0.0
'Salem's Lot (2004)                                                    0.0
'Til There Was You (1997)                                              0.0
...                                                                    ...
eXistenZ (1999)                                                        0.0
xXx (2002)                                                             0.0
xXx: State of the Union (2005)                                         0.0
¡Three Amigos! (1986)                                                  0.0
À nous la liberté (Freedom for Us) (1931)                              0.0

title                                      'burbs, The (1989)  \
title
'71 (2014)                                           0.000000
'Hellboy': The Seeds of Creation (2004)              0.000000
'Round Midnight (1986)                               0.176777
'Salem's Lot (2004)                                  0.000000
'Til There Was You (1997)                            0.000000
...                                                       ...
eXistenZ (1999)                                      0.211467
xXx (2002)                                           0.089634
xXx: State of the Union (2005)                       0.000000
¡Three Amigos! (1986)                                0.372876
À nous la liberté (Freedom for Us) (1931)            0.000000

title                                      'night Mother (1986)  \
title
'71 (2014)                                             0.000000
'Hellboy': The Seeds of Creation (2004)                0.000000
'Round Midnight (1986)                                 0.000000
'Salem's Lot (2004)                                    0.000000
'Til There Was You (1997)                              0.000000
...                                                         ...
eXistenZ (1999)                                        0.216295
xXx (2002)                                             0.000000
xXx: State of the Union (2005)                         0.000000
¡Three Amigos! (1986)                                  0.180009
À nous la liberté (Freedom for Us) (1931)              0.000000

title                                      (500) Days of Summer (2009)  \
title
'71 (2014)                                                    0.141653
'Hellboy': The Seeds of Creation (2004)                       0.000000
'Round Midnight (1986)                                        0.000000
'Salem's Lot (2004)                                           0.000000
'Til There Was You (1997)                                     0.000000
...                                                                ...
eXistenZ (1999)                                               0.097935
xXx (2002)                                                    0.276512
xXx: State of the Union (2005)                                0.156764
¡Three Amigos! (1986)                                         0.169385
À nous la liberté (Freedom for Us) (1931)                     0.000000

title                                      *batteries not included (1987)  \
title
'71 (2014)                                                       0.000000
'Hellboy': The Seeds of Creation (2004)                          0.000000
'Round Midnight (1986)                                           0.000000
'Salem's Lot (2004)                                              0.000000
'Til There Was You (1997)                                        0.000000
...                                                                   ...
eXistenZ (1999)                                                  0.132489
xXx (2002)                                                       0.019862
xXx: State of the Union (2005)                                   0.000000
¡Three Amigos! (1986)                                            0.249586
À nous la liberté (Freedom for Us) (1931)                        0.000000

title                                      ...  Zulu (2013)  [REC] (2007)  \
title                                      ...
'71 (2014)                                 ...     0.000000      0.342055
'Hellboy': The Seeds of Creation (2004)    ...     0.000000      0.000000
'Round Midnight (1986)                     ...     0.000000      0.000000
'Salem's Lot (2004)                        ...     0.000000      0.000000
'Til There Was You (1997)                  ...     0.000000      0.000000
...                                        ...          ...           ...
eXistenZ (1999)                            ...     0.000000      0.000000
xXx (2002)                                 ...     0.069716      0.305535
xXx: State of the Union (2005)             ...     0.000000      0.382543
¡Three Amigos! (1986)                      ...     0.180009      0.000000
À nous la liberté (Freedom for Us) (1931)  ...     0.000000      0.000000

title                                      [REC]² (2009)  \
title
'71 (2014)                                      0.543305
'Hellboy': The Seeds of Creation (2004)         0.000000
'Round Midnight (1986)                          0.000000
'Salem's Lot (2004)                             0.000000
'Til There Was You (1997)                       0.000000
...                                                  ...
eXistenZ (1999)                                 0.000000
xXx (2002)                                      0.173151
xXx: State of the Union (2005)                  0.177838
¡Three Amigos! (1986)                           0.000000
À nous la liberté (Freedom for Us) (1931)       0.000000

title                                      [REC]³ 3 Génesis (2012)  \
title
'71 (2014)                                                0.707107
'Hellboy': The Seeds of Creation (2004)                   0.000000
'Round Midnight (1986)                                    0.000000
'Salem's Lot (2004)                                       0.000000
'Til There Was You (1997)                                 0.000000
...                                                            ...
eXistenZ (1999)                                           0.000000
xXx (2002)                                                0.246482
xXx: State of the Union (2005)                            0.231455
¡Three Amigos! (1986)                                     0.000000
À nous la liberté (Freedom for Us) (1931)                 0.000000

title                                      anohana: The Flower We Saw That Day - The Movie (2013)  \
title
'71 (2014)                                                                               0.0
'Hellboy': The Seeds of Creation (2004)                                                  0.0
'Round Midnight (1986)                                                                   0.0
'Salem's Lot (2004)                                                                      0.0
'Til There Was You (1997)                                                                0.0
...                                                                                      ...
eXistenZ (1999)                                                                          0.0
xXx (2002)                                                                               0.0
xXx: State of the Union (2005)                                                           0.0
¡Three Amigos! (1986)                                                                    0.0
À nous la liberté (Freedom for Us) (1931)                                                0.0

title                                      eXistenZ (1999)  xXx (2002)  \
title
'71 (2014)                                        0.000000    0.139431
'Hellboy': The Seeds of Creation (2004)           0.000000    0.000000
'Round Midnight (1986)                            0.000000    0.000000
'Salem's Lot (2004)                               0.000000    0.000000
'Til There Was You (1997)                         0.000000    0.000000
...                                                    ...         ...
eXistenZ (1999)                                   0.000000    0.192259
xXx (2002)                                        0.192259    0.000000
xXx: State of the Union (2005)                    0.000000    0.270034
¡Three Amigos! (1986)                             0.170341    0.100396
À nous la liberté (Freedom for Us) (1931)         0.000000    0.000000

title                                      xXx: State of the Union (2005)  \
title
'71 (2014)                                                       0.327327
'Hellboy': The Seeds of Creation (2004)                          0.000000
'Round Midnight (1986)                                           0.000000
'Salem's Lot (2004)                                              0.000000
'Til There Was You (1997)                                        0.000000
...                                                                   ...
eXistenZ (1999)                                                  0.000000
xXx (2002)                                                       0.270034
xXx: State of the Union (2005)                                   0.000000
¡Three Amigos! (1986)                                            0.000000
À nous la liberté (Freedom for Us) (1931)                        0.000000

title                                      ¡Three Amigos! (1986)  \
title
'71 (2014)                                              0.000000
'Hellboy': The Seeds of Creation (2004)                 0.000000
'Round Midnight (1986)                                  0.000000
'Salem's Lot (2004)                                     0.000000
'Til There Was You (1997)                               0.000000
...                                                          ...
eXistenZ (1999)                                         0.170341
xXx (2002)                                              0.100396
xXx: State of the Union (2005)                          0.000000
¡Three Amigos! (1986)                                   0.000000
À nous la liberté (Freedom for Us) (1931)               0.000000

title                                      À nous la liberté (Freedom for Us) (1931)
title
'71 (2014)                                                                       0.0
'Hellboy': The Seeds of Creation (2004)                                          0.0
'Round Midnight (1986)                                                           0.0
'Salem's Lot (2004)                                                              0.0
'Til There Was You (1997)                                                        0.0
...                                                                              ...
eXistenZ (1999)                                                                  0.0
xXx (2002)                                                                       0.0
xXx: State of the Union (2005)                                                   0.0
¡Three Amigos! (1986)                                                            0.0
À nous la liberté (Freedom for Us) (1931)                                        0.0

[9719 rows x 9719 columns]

In [25]:
#top-N most similar items for a movie

In [26]:
def get_top_similar_items(item_similarity_df, item_id, top_n=5):
    similar_items_row = item_similarity_df.loc[item_id]
    top_similar_items = similar_items_row.sort_values(ascending=False).head(top_n)

    return top_similar_items
top_similar_items = get_top_similar_items(item_similarity_df, "'71 (2014)")
print("Top 5 for movie':\n", top_similar_items)

Top 5 for movie':
 title
From Beyond (1986)                                                                    1.0
Take Aim at the Police Van (Sono gosôsha wo nerae: 'Jûsangô taihisen' yori) (1960)    1.0
Robin-B-Hood (Bo bui gai wak) (2006)                                                  1.0
Sympathy for the Underdog (1971)                                                      1.0
Birdemic: Shock and Terror (2010)                                                     1.0
Name: '71 (2014), dtype: float64

In [27]:
print(item_similarity_df.index)

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9719)

In [28]:
#Fuction for collaborative filtering recommendations

In [29]:


def get_top_similar_items(item_similarity_df, item_id, top_n=5):
    similar_items_row = item_similarity_df.loc[item_id]
    top_similar_items = similar_items_row.sort_values(ascending=False).head(top_n)
    return top_similar_items

In [30]:
def generate_recommendations(user_id, user_item_matrix, item_similarity_df, top_n=5):
    user_items = user_item_matrix.loc[user_id]

    item_scores = {}
    for item_id, interaction in user_items.items():
        similar_items = get_top_similar_items(item_similarity_df, item_id, top_n)
        
        for similar_item_id, similarity_score in similar_items.items():
            if similar_item_id not in item_scores:
                item_scores[similar_item_id] = 0
            item_scores[similar_item_id] += similarity_score * interaction
    
    sorted_item_scores = sorted(item_scores.items(), key=lambda x: x[1], reverse=True)
    recommendations = [item_id for item_id, score in sorted_item_scores[:top_n]]
    
    return recommendations

In [31]:
user_id = 1
recommendations = generate_recommendations(user_id, user_item_matrix, item_similarity_df)
print("Recommendations for entered user", user_id, ":", recommendations)

Recommendations for entered user 1 : ['Reservoir Dogs (1992)', 'Indiana Jones and the Temple of Doom (1984)', 'RoboCop (1987)', 'Star Wars: Episode V - The Empire Strikes Back (1980)', 'Star Wars: Episode VI - Return of the Jedi (1983)']

In [32]:
# Content Based Recommendations on "genre"

In [33]:
def recommend_movies_by_genre(user_id, final_table, top_n=5):
    user_data = final_table[final_table['userId'] == user_id]

    genre_counts = {}
    for genres in user_data['genres']:
        for genre in genres.split('|'):
            if genre in genre_counts:
                genre_counts[genre] += 1
            else:
                genre_counts[genre] = 1
    sorted_genres = sorted(genre_counts.items(), key=lambda x: x[1], reverse=True)
    top_genres = [genre for genre, _ in sorted_genres[:top_n]]

    recommended_movies = final_table[~final_table['title'].isin(user_data['title']) & 
                                     final_table['genres'].apply(lambda x: any(genre in x.split('|') for genre in top_genres))]
    recommended_movies = recommended_movies[~recommended_movies['title'].isin(user_data['title'])]

    # Remove duplicate 
    recommended_movies = recommended_movies.drop_duplicates(subset=['title'])

    return recommended_movies

In [34]:


user_id = 1
recommended_movies = recommend_movies_by_genre(user_id, final_table)
print("Recommendations for user", user_id, ":")
print(recommended_movies[['title', 'genres']].head())

Recommendations for user 1 :
                                                   title  \
16296                   Shawshank Redemption, The (1994)
16613                           Good Will Hunting (1997)
16754                           Kill Bill: Vol. 1 (2003)
16885                                  Collateral (2004)
16929  Talladega Nights: The Ballad of Ricky Bobby (2...

                            genres
16296                  Crime|Drama
16613                Drama|Romance
16754        Action|Crime|Thriller
16885  Action|Crime|Drama|Thriller
16929                Action|Comedy